.App {
  letter-spacing: 1px;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
  min-height: 100vh;
  min-width: 100;
  margin: 0;
}

.emoji-logo-header {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 3vh;
  color: #1a1a1a;
}

.emoji-logo {
  display: block;
  margin-top: 12vh;
  margin-bottom: -vh;
  font-size: 10vh;
}

.twitter {
  margin-left: 1vh;
  font-family: "Raleway";
  font-weight: 200;
  font-size: 2vh;
  color: #4d575c;
}

.header {
  text-align: left;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.header-text {
  margin: 2vh 0vh 2vh 3vh;
}

.header-div {
  border-top: 2px solid #e6e6e6;
}

.typing {
  display: block;
  margin: 2vw;
  max-width: 5vw;
  min-width: 80px;
}

.sent-img {
  display: block;
  margin: 2vw;
  max-width: 45.8vw;
  min-width: 300px;
  border-radius: 40px;
}

.sent-img-two {
  display: block;
  margin: 2vw;
  max-width: 20vw;
  min-width: 300px;
  border-radius: 40px;
}

.img-btn {
  background-color: rgba(0,0,0,0);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.heart {
  animation-name: beat-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes beat-animation {
  0% {
    transform: translateY(2px);
  }
  10% {
    transform: translateY(-2px);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.to-code {
  background-color: inherit;
}

button:hover {
  transform: translateY(-3px);
}

h1 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 5vh;
  color: #2e2e2e;
  margin-bottom: -1vh;
}

h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.5vh;
  color: #4d575c;
}

.chart-opt {
  margin-top: 20vh;
}

.btn-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6vh;
}

.spacer {
  min-height: 80vh;
  min-width: 100vw;
}

.photos {
  min-height: 100vh;
  min-width: 100vw;
}

#photos-one {
  min-height: 10vh;
  min-width: 100vw;
}

#photos-two {
  min-height: 10vh;
  min-width: 100vw;
}

.text-wrap {
  min-height: 80vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
}

.text-self {
  margin: 2vw;
  text-align: left;
  word-wrap: normal;
  padding: 15px 40px 15px 40px;
  border-radius: 40px;
  background-color: #58b6e6;
  font-size: 2vh;
  font-weight: 600;
  font-family: "Raleway";
  color: #ffffff;
}

.text-other {
  margin: 2vw;
  text-align: left;
  word-wrap: normal;
  padding: 15px 40px 15px 40px;
  border-radius: 40px;
  background-color: #e6e7ec;
  font-size: 2vh;
  font-weight: 600;
  font-family: "Raleway";
  color: #4d575c;
}


.btn-info {
  margin: 4vh;
  padding: 15px 40px 15px 40px;
  background-color: #58b6e6;
  word-wrap: normal;
  font-size: 2vh;
  font-weight: 600;
  font-family: "Raleway";
  border-radius: 5px;
  color: #ffffff;
}

.btn-nav {
  margin: 4vh;
  padding: 15px 40px 15px 40px;
  background-color: #ffffff;
  font-size: 2.5vh;
  font-weight: 400;
  font-family: "Raleway";
  border-radius: 5px;
  color: #4d575c;
}

.btn-info:hover {
  background-color: #60bae7;
}

.btn-nav:hover {
  background-color: #eeeeee;
}
